img-comp {
  .tl {
    position: absolute;
    top: 0;
    left: 0;
  }
  .pos {
    position: absolute;
    top: 0;
    left:50%;
    transform: translateX(-50%);
  }
  .max {
    max-width: 100%;
    max-height: 100%;
  }
  .full {
    width: 100%;
    height: 100%;
  }
  .blur {
    /*filter: url(#blur);*/
    opacity: 0.8;
  }
  #texture {
    background: rgba(255, 255, 255, 0.3) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAMAAABFaP0WAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////AAAAVcLTfgAAAAJ0Uk5T/wDltzBKAAAAEElEQVR42mJgYGRgZAQIMAAADQAExkizYQAAAABJRU5ErkJggg==') fixed;
  }
  .fadein {
    animation: fadein .8s ease;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  .border {
    /* box-sizing: border-box; */
    outline: 1px solid #aaa;
  }

  .hide {
    visibility: hidden;
  }
}